#home_body{
    text-align: center;
}
#home_title{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#home_texto{
    color: black;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding: 20px;
    margin-bottom: 50px;
}
#home_botao{
    margin: 20px;
}
#home_link{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;   
}